
<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title> {% block title %}Accueil{% endblock %}</title>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.1.0/dist/css/axentix.min.css">
                {% block stylesheet %}{% endblock %}
                <link rel="stylesheet" href="{{ asset('css/styles.css')}}">

        </head>
        <body> 

        <header>
      <nav class="navbar shadow-1 primary">
        <a href="\" class="navbar-brand">Listes Des Athletes</a>
        <div class="navbar-menu ml-auto">
          <a class="navbar-link" href="\">Accueil</a>
          <a class="navbar-link" href="article/add">Ajouter un Athlète </a>
          
          
        </div>
      </nav>
    </header>

    <main>
     {% block body %}

<h1> <center> Accueil </center> </h1>

<main role = "main" class="container">

         
<div>
 
 <table>
      <tr>
        <th>NOM </th>
        <th>Prenom</th>
        <th>GENDER</th>
        <th>PAYS</th>
         <th>Button d'éditer</th>
          <th>Button de la suprission</th>
       


      </tr>
       {% for athlete2 in athlete2 %}
      <tr>
      
      <th> <div>   {{athlete2.nom}} </div></th>
     <th> <div>   {{athlete2.prenom}} </div></th>
     <th> <div>   {{athlete2.gender}} </div></th>
      <th><div>   {{athlete2.pays}} </div></th>
     
     <th>  <button>  <a href="{{ path('athlete2_edit', {"id":athlete2.id}) }}"class ="button"> Modifier </a> </button> </th>
     <th>  <button>  <a href="{{ path('delete', {"id":athlete2.id}) }}" class="button" onclick="return confirm('Attention ce ci va supprimer votre donnée')"> Supprimer </a> </button></th>
     </tr> 
      
  {%endfor%}
</div>
 </table>


{% endblock %}
    </main>

    <footer class="footer primary">
      Copyright © 2020 - NAJIHI
    </footer> 


<script src="https://cdn.jsdelivr.net/npm/axentix@1.1.0/dist/js/axentix.min.js"></script>
{% block javascripts %}{% endblock %}
<script src="{{ asset('js/scripts.js')}}"></script
</body>
</html>
