.table{
    background-color: rgb(179, 178, 177);
}
body{
    background-color: rgb(180, 167, 167);
}
h1{
    color: rgb(42, 54, 163);
}
table-ligne1-centre {
    font-size : 12px;
    font-family : Verdana, arial, helvetica, sans-serif;
    color : #8b8b8b;
    text-align : center;
    background-color : #c6c3bd;
 }