{% extends 'base.html.twig' %}

{% block title %} Ajouter un Athlete {% endblock %}

{% block body %}

        <h1> Ajout d'un Athlete </h1>

        {{ form_start(form) }}

            <div class ="form-group">
                {{form_label(form.nom) }}
                {{ form_widget(form.nom) }}
              <br> 
            </div>
            <div class ="form-group">
                 {{form_label(form.prenom) }}
                {{ form_widget(form.prenom) }}
                <br>
             </div>
             <div class ="form-group">
                 {{form_label(form.gender) }}
                {{ form_widget(form.gender) }}
                <br>
             </div>
             <div class ="form-group">
                {{form_label(form.pays) }}
                {{ form_widget(form.pays) }}
                <br>
             </div>

             <div class ="form-group">
                {{form_label(form.createdAt) }}
                {{ form_widget(form.createdAt) }}
                <br>
             </div>


        <button class="btn btn-primary"> Ajouter
        <br>
         </button>
         <br>
         <button> 
                <a href="\">Retour</a>
         </button>
        {{ form_end(form)}}
           
{% endblock %}